@using WebConDocs.Clases;
@model IEnumerable<clsTipoUsuario>

@{
    ViewData["Title"] = "Index";
    int iidTipoUsuario = ViewBag.iidTipoUsuario;
    string nombre = ViewBag.nombre;
    string descripcion =ViewBag.descripcion;
}
<a class="btn btn-primary" asp-action="Agregar" asp-controller="TipoUsuario">Nuevo</a>

<form asp-controller="TipoUsuario" asp-action="Index" method="post">
    <input type="submit" value="Buscar" class="btn btn-success"/>
<table class="table" id="TablaTipoUsuarios">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidTipoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
        </tr>
        <tr>
            <th>
                    @if (iidTipoUsuario == 0)
                    {
                         <input type="number" name="iidTipoUsuario" class="form form-control"/>   
                    }
                    else
                    {
                        <input type="number" value="@iidTipoUsuario" name="iidTipoUsuario" class="form form-control"/>
                    }
            </th>
            <th>
                <input type="text" value="@nombre" name="nombre" class="form form-control"/>
            </th>
            <th>
                <input type="text" value="@descripcion" name="descripcion" class="form form-control"/>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidTipoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                <i class="fa-solid fa-trash btn btn-danger" onclick="EliminarTipoUsuario(@item.iidTipoUsuario)"></i>
            </td>
        </tr>
}
    </tbody>
</table>
</form>

<form asp-action="Eliminar" method="post" asp-controller="TipoUsuario" id="frmEliminarTipoUsuario">
    <input type="text" hidden id="txtIdUsuario" name="iidTipoUsuario"/>
</form>

<script src="~/js/LibreriaAlertas.js"></script>
<script src="~/js/AlertasPropias.js"></script>

<script>
    function EliminarTipoUsuario(iidTipoUsuario) 
    {
        document.getElementById("txtIdUsuario").value = iidTipoUsuario;
        MostrarModal().then(res => { 
                if (res.value) {
                    var frmEliminarTipoUsuario = document.getElementById("frmEliminarTipoUsuario");
                    frmEliminarTipoUsuario.submit();
                }
            })
    }

    window.onload = function() {
        $(document).ready( function () {
            $('#TablaTipoUsuarios').DataTable();
        } );
    }
</script>