@using WebConDocs.Clases
@model IEnumerable<clsPagina>

@{
    ViewData["Title"] = "Index";
    string cadena = ViewBag.cadena;
}

<a class="btn btn-primary" asp-action="Agregar" asp-controller="Pagina">Nuevo</a>

<form id="buscarPaginaForm" asp-controller="Pagina" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns: 1fr 2fr 1fr 1fr">
    <label>Escribe el mensaje</label>
    @*Se debe poner el name con el nombre de la propiedad de la clase que se va a mapear*@
    <input type="text" class="form form-control" name="mensaje" id="mensaje" value="@cadena"/>
    <input type="submit" value="Buscar" class="btn btn-info"/>
    <input type="button" value="Limpiar" class="btn btn-warning" onclick="Limpiar()"/>
</form>

<table class="table" id="TablaPaginas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidpagina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.controller)
            </th>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidpagina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.controller)
            </td>
            <td>
                <i class="fa-solid fa-trash btn btn-danger" onclick="EliminarPagina(@item.iidpagina)"></i>
            </td>
            <td>
                <a class="fa-solid fa-pen-to-square btn btn-primary" asp-action="Editar" asp-controller="Pagina" asp-route-iidpagina="@item.iidpagina"></a>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Eliminar" method="post" asp-controller="Pagina" id="frmEliminarPagina">
    <input type="text" hidden id="txtIdPagina" name="iidpagina"/>
</form>

<script src="~/js/LibreriaAlertas.js"></script>
<script src="~/js/AlertasPropias.js"></script>

<script>
    function Limpiar()
    {
        document.getElementById("mensaje").value = "";
        document.getElementById("buscarPaginaForm").submit();
    }

     function EliminarPagina(iidpagina) 
    {
        document.getElementById("txtIdPagina").value = iidpagina;
        MostrarModal().then(res => { 
                if (res.value) {
                    var frmEliminarPagina = document.getElementById("frmEliminarPagina");
                    frmEliminarPagina.submit();
                }
            })
    }

    window.onload = function() {
        $(document).ready( function () {
            $('#TablaPaginas').DataTable();
        } );
    }
</script>