@using WebConDocs.Models;
@using WebConDocs.Clases;
@model IEnumerable<clsEspecialidad>
@{
    ViewData["Title"] = "Index";
    string cadena = ViewBag.Cadena;
}

<a class="btn btn-secondary" asp-action="Registrar" asp-controller="Especialidad">Nuevo</a>

<form id="buscarEspecialidadForm" asp-controller="Especialidad" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns: 1fr 2fr 1fr 1fr">
    <label>Escribe el nombre de la especialidad</label>
    @*Se debe poner el name con el nombre de la propiedad de la clase que se va a mapear*@
    <input type="text" class="form form-control" name="nombre" id="nombre" value="@cadena"/>
    <input type="submit" value="Buscar" class="btn btn-info"/>
    <input type="button" value="Limpiar" class="btn btn-warning" onclick="Limpiar()"/>
</form>

<table class="table" id="TablaEspecialidades">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(clsEspecialidad fila in Model)
        {
            <tr>
                <td>@fila.iidespecialidad</td>
                <td>@fila.nombre</td>
                <td>@fila.descripcion</td>
                <td>
                    <i class="fa-solid fa-trash btn btn-danger" onclick="EliminarEspecialidad(@fila.iidespecialidad)"></i>
                </td>
                <td>
                    <a class="fa-solid fa-pen-to-square btn btn-primary" asp-action="Editar" asp-controller="Especialidad" asp-route-iidespecialidad="@fila.iidespecialidad"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Eliminar" method="post" asp-controller="Especialidad" id="frmEliminarEspecialidad">
    <input type="text" hidden id="txtIdEspecialidad" name="iidespecialidad"/>
</form>

<script src="~/js/LibreriaAlertas.js"></script>
<script src="~/js/AlertasPropias.js"></script>

<script>
    function Limpiar()
    {
        document.getElementById("nombre").value = "";
        document.getElementById("buscarEspecialidadForm").submit();
    }

    function EliminarEspecialidad(idEspecialidad) 
    {
        document.getElementById("txtIdEspecialidad").value = idEspecialidad;
        MostrarModal().then(res => { 
                if (res.value) {
                    var frmEliminarEspecialidad = document.getElementById("frmEliminarEspecialidad");
                    frmEliminarEspecialidad.submit();
                }
            })
    }

    window.onload = function() {
        $(document).ready( function () {
            $('#TablaEspecialidades').DataTable();
        } );
    }
</script>