@using WebConDocs.Clases;
@model IEnumerable<clsPersona>;
@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaSexos = ViewBag.listaSexos;
}

<a class="btn btn-primary" asp-action="Agregar" asp-controller="Persona">Nuevo</a>

<form id="buscarSexoForm" asp-controller="Persona" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns: 1fr 2fr 1fr 1fr">
    <label>Lista de sexos</label>
    @Html.DropDownList("iidSexo", listaSexos, new {@class= "form form-control"})
    <input type="submit" value="Buscar" class="btn btn-info"/>
    <input type="button" value="Limpiar" class="btn btn-warning" onclick="Limpiar()"/>
</form>

<table class="table" id="TablaPersonas">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(modelo => modelo.iidPersona)</th>
            <th>@Html.DisplayNameFor(modelo => modelo.nombreCompleto)</th>
            <th>@Html.DisplayNameFor(modelo => modelo.email)</th>
            <th>@Html.DisplayNameFor(modelo => modelo.nombreSexo)</th>
            <th>@Html.DisplayNameFor(modelo => modelo.fechaNacimiento)</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(clsPersona fila in Model)
        {
            <tr>
                <td>@fila.iidPersona</td>
                <td>@fila.nombreCompleto</td>
                <td>@fila.email</td>
                <td>@fila.nombreSexo</td>
                <td>@fila.fechaNacimiento</td>
                <td>
                    <i class="fa-solid fa-trash btn btn-danger" onclick="EliminarPersona(@fila.iidPersona)"></i>
                </td>
                <td>
                <a class="fa-solid fa-pen-to-square btn btn-primary" asp-action="Editar" asp-controller="Persona" asp-route-iidPersona="@fila.iidPersona"></a>
            </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Eliminar" method="post" asp-controller="Persona" id="frmEliminarPersona">
    <input type="text" hidden id="txtIdPersona" name="iidPersona"/>
</form>

<script src="~/js/LibreriaAlertas.js"></script>
<script src="~/js/AlertasPropias.js"></script>

<script>
    function Limpiar()
    {
        document.getElementById("iidSexo").value = "";
        document.getElementById("buscarSexoForm").submit();
    }

    function EliminarPersona(iidPersona) 
    {
        document.getElementById("txtIdPersona").value = iidPersona;
        MostrarModal().then(res => { 
                if (res.value) {
                    var frmEliminarPersona = document.getElementById("frmEliminarPersona");
                    frmEliminarPersona.submit();
                }
            })
    }

    window.onload = function() {
        $(document).ready( function () {
            $('#TablaPersonas').DataTable();
        } );
    }
</script>