@using WebConDocs.Clases;
@model IEnumerable<clsMedicamento>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaForma = ViewBag.listaForma;
}

<a class="btn btn-secondary" asp-action="Registrar" asp-controller="Medicamento">Nuevo</a>

<form id="buscarFormaForm" asp-controller="Medicamento" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns: 1fr 2fr 1fr 1fr">
    <label>Lista de formas farmaceuticas</label>
    @Html.DropDownList("iidFormaFarmaceutica", listaForma, new {@class= "form form-control"})
</form>

<table class="table" id="TablaMedicamento">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidmedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreFormaFarmaceutica)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidmedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreFormaFarmaceutica)
            </td>
            <td>
                <i class="fa-solid fa-trash btn btn-danger" onclick="EliminarMedicamento(@item.iidmedicamento)"></i>
            </td>
            <td>
                <a class="fa-solid fa-pen-to-square btn btn-primary" asp-action="Editar" asp-controller="Medicamento" asp-route-iidmedicamento="@item.iidmedicamento"></a>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Eliminar" method="post" asp-controller="Medicamento" id="frmEliminarMedicamento">
    <input type="text" hidden id="txtIdMedicamento" name="iidmedicamento"/>
</form>

<script src="~/js/LibreriaAlertas.js"></script>
<script src="~/js/AlertasPropias.js"></script>

<script>
    var iidFormaFarmaceutica = document.getElementById("iidFormaFarmaceutica");
    iidFormaFarmaceutica.onchange = function() { 
        document.getElementById("buscarFormaForm").submit();
    };

    function EliminarMedicamento(iidmedicamento) 
    {
        document.getElementById("txtIdMedicamento").value = iidmedicamento;
        MostrarModal().then(res => { 
                if (res.value) {
                    var frmEliminarMedicamento = document.getElementById("frmEliminarMedicamento");
                    frmEliminarMedicamento.submit();
                }
            })
    }

    window.onload = function() {
        $(document).ready( function () {
            $('#TablaMedicamento').DataTable();
        } );
    }
</script>
