@using WebConDocs.Clases
@model IEnumerable<clsSedes>

@{
    ViewData["Title"] = "Index";
    string cadena = ViewBag.Cadena;
}

<a class="btn btn-secondary" asp-action="Registrar" asp-controller="Sede">Nuevo</a>

<form id="buscarSedeForm" asp-controller="Sede" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns: 1fr 2fr 1fr 1fr">
    <label>Escribe el nombre de la sede</label>
    @*Se debe poner el name con el nombre de la propiedad de la clase que se va a mapear*@
    <input type="text" class="form form-control" name="nombreSede" id="nombreSede" value="@cadena" onkeyup="Buscar()"/>
    <input type="submit" value="Buscar" class="btn btn-info"/>
</form>

<table class="table" id="TablaSedes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                <i class="fa-solid fa-trash btn btn-danger" onclick="EliminarSede(@item.iidSede)"></i>                
            </td>
            <td>
                <a class="fa-solid fa-pen-to-square btn btn-primary" asp-action="Editar" asp-controller="Sede" asp-route-iidSede="@item.iidSede"></a>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Eliminar" method="post" asp-controller="Sede" id="frmEliminarSede">
    <input type="text" hidden id="txtSede" name="iidSede"/>
</form>

<script src="~/js/LibreriaAlertas.js"></script>
<script src="~/js/AlertasPropias.js"></script>

<script>
    function Buscar()
    {
        document.getElementById("buscarSedeForm").submit();
    }

    function EliminarSede(iidSede) 
    {
        document.getElementById("txtSede").value = iidSede;
        MostrarModal().then(res => { 
                if (res.value) {
                    var frmEliminarSede = document.getElementById("frmEliminarSede");
                    frmEliminarSede.submit();
                }
            })
    }

    window.onload = function() {
        $(document).ready( function () {
            $('#TablaSedes').DataTable();
        } );
    }
</script>